<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Listado" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" href="#/app/list">
        <ion-nav-view name="tab-list"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Mapa" icon-off="ion-map" icon-on="ion-map" href="#/app/map">
        <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Logout" icon-off="ion-log-out" icon-on="ion-log-out" ng-click="logout()" ng-show="isLogged()"></ion-tab>
    <!--
    <ion-tab title="Login" icon-off="ion-log-in" icon-on="ion-log-in" ng-click="login()" ng-hide="isLogged()"></ion-tab>
    <ion-tab title="x" icon-off="ion-android-warning" icon-on="ion-android-warning" href="#/login">
    -->
    </ion-tab>
</ion-tabs>
