
<ion-view view-title="Detalle">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                <label class="checkbox">
                    <input type="checkbox" ng-checked="local.done">
                </label>
                {{local.name}}
                <i style="float: right" class="ionicons ion-edit"></i>
            </div>
            <div class="item item-body">
                <script type="text/ng-template" id="control.tpl.html">
                    <div class="circle" ng-click="centerOnMe()"><i class="ionicons ion-android-locate font_center_on_me"></i></div>
                </script>
                <div id="map_canvas" style="height: 300px;">
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                        <ui-gmap-map-control template="control.tpl.html" position="top-right" index="-1" controller="DetailCtrl"></ui-gmap-map-control>
                        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </div>
            <div class="item item-icon-left">
                <i class="ionicons ion-clipboard"></i>
                {{local.notes}}
            </div>
        </div>
    </ion-content>
</ion-view>
