<ion-view view-title="Lista">
    <ion-content>
        <ul class="list">
            <!--ion-item ng-show="!list.length">Listado vacío</ion-item-->
            <li class="item" ng-show="!list.length">Listado vacío</li>
            <li ng-hide="!list.length" ng-repeat="item in list" class="item item-checkbox item-icon-right">
                <label class="checkbox">
                    <input type="checkbox" ng-checked="item.done" ng-click="mark( item )">
                </label>
                <span ng-click="seeDetail( {{item.id}} )">
                    {{item.name}}
                    <i class="icon ion-chevron-right" ></i>
                </span>
            </li>
        </ul>
    </ion-content>
    <div class="fixed-outside">
        <button class="button button-full button-stable" ng-click="addSangucheria()">
            <i class="ionicons ion-plus-round"></i> Agregar
        </button>
    </div>
    <!--div class="bar bar-footer bar-stable">
        <button class="button button-full button-stable" ng-click="addSangucheria()">
            <i class="ionicons ion-plus-round"></i> Agregar
        </button>
    </div-->
</ion-view>
