<ion-view title="Login">
    <ion-content>

        <form name="loginForm" ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input">
                    <i class="ionicons ion-email placeholder-icon"></i>
                    <input type="email" placeholder="Email" ng-model="loginData.email" required>
                </label>
                <label class="item item-input">
                    <i class="ionicons ion-locked placeholder-icon"></i>
                    <input type="password" placeholder="Password" ng-model="loginData.password" required>
                </label>
            </div>
            <button class="button button-block button-positive" type="submit" ng-disabled='!loginForm.$valid'>Log in</button>
            <!--button class="button button-block button-assertive" ng-click="testLogin()">Log with tristobal@gmail.com</button-->
        </form>
    </ion-content>
</ion-view>
