/* Empty. Add your own CSS if you like */
#map {
    width: 100%;
    height: 400px;
}

/*
#map_canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

.scroll {
    height: 100%;
}
*/
.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}



/*Solution for html*/
.item-checkbox .checkbox{
    z-index: -1 !important;
}


/*Solution for the Directive*/
.item-content.disable-pointer-events{
    pointer-events: initial !important
}

.icon_row {
  width: 30px;
  text-align: center;
  display:inline-block;
}

.circle {
    width:50px;
    height:50px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:60px;
    text-align:center;
    background:#f8f8f8;
}

.font_center_on_me {
    color: #4d90fe;
    font-size: xx-large;
}

.card .checkbox {
    vertical-align: middle;
    margin-bottom: 5px;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}

.fixed-outside{
  position: absolute;
  bottom: 0;
  color:white;
  width: 100%;
  height:  120px;
  text-align:center;
}
